.projects img {
    height: auto;
    width: 100%;
}

.projects h1:first-of-type{
    margin-top: 100px;
}


/* large devices */
@media only screen and (min-width: 992px) {
    .row div{
        width: 30%;
    }

}

